.description__content {
  &--title {
    font-family: Rubik;
    font-size: 36px;
    letter-spacing: 0.5px;
    color: #1f2937;
    padding: 6rem 0 0 0;
  }
  &--text {
    font-family: Rubik;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.28px;
    color: #1f2937;
    padding-top: 3rem;
  }
}

@media screen and (max-width: 1200px) {
  .description__content {
    &--title {
      font-size: 28px;
    }
    &--text {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .description__content {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0 5rem;
    &--title {
      font-size: 24px;
    }
    &--text {
      font-size: 16px;
    }
  }
}
