.services__estimate {
  @include displayCenterGrid(auto);
  background-color: $secondaryBackgroundGrey;
  text-align: center;
  &--header {
    opacity: 0.9;
    font-size: 44px;
    line-height: 1.23;
    letter-spacing: 1.74px;
    color: #1f2937;
    padding: 88px 0 32px;
  }
  &--text {
    margin: 0 auto;
    & p {
      width: 266px;
      height: 59px;
      font-size: 17px;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.44;
      font-weight: 500;
      letter-spacing: 0.25px;
      text-align: center;
      font-style: revert;
      font-family: 'Montserrat', sans-serif;
      color: #06081f;
    }
  }
  &--button {
    padding: 77px 0 108px;
    & button {
      padding: 17px 61px 17px 62px;
      border-radius: 4px;
      background-image: linear-gradient(to bottom, #04cfd2, #027e80);
      font-family: 'Cairo', sans-serif;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.63;
      letter-spacing: 0.22px;
      color: #ffffff;
      border: none;
    }
  }
}
@media screen and (max-width: 1024px) {
  .services__estimate {
    &--header {
      font-size: 30px;
      padding: 5.2rem 5px 2.4rem;
    }
    &--button {
      padding: 3.2rem 0 6rem;
    }
  }
}
