.services__layout{   
    padding: 15rem 19.1% 0;
    margin: 0 auto;
    &__title{
        margin-top: 10rem;
        h1{
            text-transform: uppercase;
            text-align: center;
            font-size: 8.7rem;
            color: #1f2937;
        }
    }
}
@media screen and (max-width: 1024px) {
    .services__layout{
        &__title{
            margin-top: 3rem;
            h1{
                font-size: 3.2rem;
            }
        }
    }
}