.homeContainerTab {
  display: grid;
  grid-auto-flow: column;
  width: 86%;
  overflow-y: hidden;
  overflow-x: scroll;
  &__desc {
    display: grid;
    align-self: end;
    gap: 2rem;
    width: 25rem;
    svg {
      display: inline-block;
      width: 10rem;
      height: 6.5rem;
    }
    &--info {
      font-size: 1.6rem;
      margin-left: 2.5rem;
    }
  }
}
::-webkit-scrollbar {
  width: auto;
}

@media screen and (max-width: 1024px) {
  .homeContainerTab {
    display: grid;
    grid-auto-flow: column;
    &__desc {
      display: grid;
      align-self: end;
      gap: 2rem;
      width: 18rem;
      svg {
        display: inline-block;
      }
      &--info {
        font-size: 1.6rem;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .homeContainerTab {
    &__desc {
      width: 15rem;
      svg {
        width: 6rem;
      }
      &--info {
        font-size: 1.6rem;
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .homeContainerTab {
    width: 84.7%;
    display: grid;
    grid-auto-flow: column;
    &__desc {
      display: grid;
      align-self: end;
      gap: 0rem;
      width: 10rem;
      svg {
        width: 5rem;
      }
      &--info {
        font-size: 1rem;
        margin-left: 1.15rem;
      }
    }
  }
}

@media screen and (max-width: 355px) {
  .homeContainerTab {
    width: 84.7%;
    &__desc {
      width: 9rem;
      svg {
        width: 5.5rem;
        height: 6rem;
      }
      &--info {
        font-size: 1rem;
        margin-left: 0.95rem;
      }
    }
  }
}

@media screen and (max-width: 325px) {
  .homeContainerTab {
    width: 84.7%;
    margin-left: -35px;
    &__desc {
      width: 8.3rem;
      svg {
        width: 4rem;
        height: 5rem;
      }
      &--info {
        font-size: 0.8rem;
        margin-left: 0.6rem;
      }
    }
  }
}
