%navbarGrid {
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
  white-space: nowrap;
}
%navbarSelected {
  color: $primaryLightGreenBlue !important;
  -webkit-text-fill-color: unset !important;
}
%navbarA {
  font-size: 16px;
  line-height: 1.63;
  color: $secondaryWhite;
  text-decoration: none;
  background: linear-gradient(
    to right,
    $primaryLightGreenBlue,
    $primaryLightGreenBlue 50%,
    $secondaryWhite 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 375ms ease;
  text-decoration: none; // text decorations are clipped in WebKit browsers
}

.navbar__light {
  @extend %navbarGrid;
  &__selected {
    @extend %navbarSelected;
  }
  & a {
    @extend %navbarA;
    text-transform: capitalize;
    color: #1f2935;
    -webkit-text-fill-color: #1f2935;
    &:hover {
      background-position: 0 100%;
    }
  }
}

.navbar__dark {
  @extend %navbarGrid;
  &__selected {
    @extend %navbarSelected;
  }
  & a {
    @extend %navbarA;
    text-transform: capitalize;
    &:hover {
      background-position: 0 100%;
    }
  }
}

@media screen and (max-width: 1500px) {
  %navbarGrid {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
  }

  %navbarA {
    font-size: 14px;
  }
}

@media screen and (max-width: 1165px) {
  %navbarGrid {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
  }

  %navbarA {
    font-size: 12.4px;
  }
}

@media screen and (max-width: 1024px) {
  %navbarGrid {
    gap: 2rem;
  }

  .navbar__dark {
    grid-auto-flow: unset;
    padding-top: 6rem;
    text-transform: capitalize;
  }
  .navbar__light {
    text-transform: capitalize;
    grid-auto-flow: unset;
  }
}
.colorWhileAnimated{
  @extend %navbarGrid;
  &__selected {
    @extend %navbarSelected;
  }
  & a {
    font-size: 14px;
  line-height: 1.63;
  color: $secondaryWhite;
  text-decoration: none;
  background: linear-gradient(
    to right,
    $primaryLightGreenBlue,
    $primaryLightGreenBlue 50%,
    $primaryDarkBlack 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 375ms ease;
  text-decoration: none; // text decorations are clipped in WebKit browsers
    text-transform: capitalize;
    color: #1f2935;
    -webkit-text-fill-color: #1f2935;
    &:hover {
      background-position: 0 100%;
    }
}
}


@media screen and (max-width: 320px) {
    .navbar__dark {
      padding-top: 3rem;
    }
}

