//Sizes

//Primary colors

$primaryGrey: #5e5e5e;
$primaryRed: #ff0000;
$primaryLightGreenBlue: #03c4c7;
$primaryDarkGrey: #1f2937;
$primaryDarkNewGray: #1f2937e6;
$primaryDarkBlack: #09080d;
$primaryLightGreenBlueActive: #03989b;
$primaryRedRibon: #ef0d33;
$primaryPaleSky: #6b7280;
$primaryWoodSmoke: #111517;
$primaryButtonGradient: linear-gradient(to bottom, #04cfd2, #027e80);
$primaryGrey: #5e5e5e;
$primaryBlue: #173d7a;
$primaryLightGrey: #b6b9bc;

//Secondary colors

$lightGrey: #707070;
$secondaryGrey: #91959b;
$lighterGrey: #d5d5d5;
$lightestGrey: #edf2f2;
$secondaryWhite: #ffffff;
$secondaryBorderGrey: #c4c8ce;
$slideContentTabBorder: #978c8a;
$secondaryBackgroundWhite: #fafafa;
$secondaryBackgroundGrey: #f1f1f1;
$secondaryPurple: #1e1f3b;
$secondaryOrange: #ff6943;
